.jumbotron-fluid {
    margin-top: -25px;
    background-image: url('media/rest2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: orange;
    text-shadow: 5px 2px 4px rgba(0,0,0,.9);
}


#share-button{
    color: white;
    background-color: orangered;
    border-radius: 10px;
    width: 200px;
    border: 1px solid orangered;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


#share-button:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}

.list-group-item {
    margin-bottom: 15px;
    background-color: rgb(250, 240, 231)
}