.container-layout {
    display: flex;
    width: 100%; /* Full width of the viewport */
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    /* margin-right: 40px; */
    justify-content: center;
    /* box-sizing: border-box; */
    /* padding-bottom: 200px; */
    
}

.jumbotron h1 {
    font-size: 60px
}

.jumbotron p {
    font-size: 30px;
    font-weight: 500px;
}



.jumbotron {
    background-image: url('media/rest-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -25px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: orange;
    text-shadow: 5px 2px 4px rgba(0,0,0,.9);

}
/* .custom-img-class {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

#review-button, #rec-friend-button{
    color: white;
    background-color: orangered;
    border-radius: 10px;
    width: 200px;
    border: 1px solid orangered;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* display: flex;
    justify-content: center; */
}

#signup .btn-orange {
    background-color: orange;
    border-color: orange;
    color: white;
}

#review-button:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}

#review-container textarea {
    width: 100%;
    margin-top: 10px;
}

#review-container select {
    margin-top: 10px;
    width: 60px;
}

#review-container button {
    margin-top: 10px;
}

.card, .side-panel {
   
    /* Remove any margin or padding that could cause overflow */
    flex: 1; /* Flex grow */
    max-width: calc(50% - 20px); /* Maximum width with some space between */
    box-sizing: border-box;
}

.card-header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* font-style: bold; */
    background-color: rgb(252, 226, 160);
}

.card2 {
    width: 400px;
    margin-left: 50px;
    /* border:olive; */
}

.card {
   min-width: 300px;
   margin-left: 300px;
   /* background-color: beige; */

}

.list-group-item {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    /* margin-right: 100px; */
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    
}

#list-group-review {
    display: flex;
    justify-content: center;
    align-items: center;
}




footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    bottom: -2050px;
}

ul {
    list-style-type: none;
}


.rating {
    display: flex;
}

.stars {
    padding-right: 5px;
}

.card-header-map {
    border-bottom: none;
}

.custom-map {
    height: 330px; 
    width: 375px;
    border-bottom: none;
    
}


.rating {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.list-group-reviews {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    margin-top: 50px;
    border: 1px solid #cccccc; 
    padding: 15px; 
    margin-bottom: 20px;
    background-color: rgb(250, 240, 231)
}

.review {
    width: 100%; 
    margin-bottom: 20px; 
}

.list-group-item {
    border-bottom: none; 
}


@media (max-width: 768px) {
    .container-layout {
        flex-direction: column; 
        margin-left: 5px; 
        
    }

    .card, .side-panel {
        width: 100%;
        flex-basis: auto;
    }

    .card2 {
        margin-left: 5px;
        
    }

    .card {
        margin-left: 2px;
    }
}