body, html {
    height: 100%;
    margin: 0;
}
.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}
.bg-orange {
    background-color: orange;
}
.profile-icon {
    margin-left: 10px; 
}

.profile-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    height: 400px;  
}
.jumbotron .lead {
    margin-top: 30px;
}
.jumbotron .display-4 {
    margin-top: 20px;
}
.bg-image {
    background-image: url(media/image-10.jpg);
}
.btn-group {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Place the buttons above the background image */
}
.btn-warning {
    background-color: rgba(255, 255, 255, 0.7); /* Blended background color */
    color: #333; /* Button text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
    margin: 15px;
}
.btn-warning:hover {
    background-color: #ffc107; /* Background color on hover */
    color: #333; /* Text color on hover */
}

footer {
    background-color: orange; 
    color: #ffffff; 
    margin: 10px;
}
.restaurant-info {
    /* position: relative; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurant-image {
    width: 100%;
    height: 190px;
    object-fit: cover; 
    
}

.restaurant-list-container h2 {
    margin-top: 20px;
    font-size: 20px;
    color: gray;
}
.restaurant-list-container .list-group-item {
    position: relative;
    height: 350px;
    background-color: orange;
    border: 2px solid;
    color: black;
    align-items: flex-end;
   
}
.view-restaurant-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}
.view-restaurant-button:hover {
    background-color: orangered;
    border-color: orangered;
}
.container {
    display: flex;
    flex-direction: column;
  }
  
    
  .map-container {
    flex: 1; /* Allow the map to grow to fill the available space */
    width: 50%;
    height: 100%;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 100px;

  }
  
  #map {
    height: 450px; /* Make the map fill its container */
    position: fixed;
    width: 500px;
    z-index: 1; /* Ensure the map is above other elements */
  }

/* .video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
} */

/* #searchContainer, .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    margin: 20px;
} */

/* .welcome-container {
    z-index: 1;
} */

/* #restaurantList {
    list-style-type: none;
    padding: 0;
} */

/* #restaurantList li {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    position: relative;
    transition: transform 0.2s;
    background-color: orange;
} */

/* .list-group-item.card .restaurant-info {
    width: 100%;
}

.list-group-item.card .info-line {
    margin-bottom: 5px;
}

.list-group-item.card .copy-btn {
    margin-top: 10px;
    color: #fff;
    background-color: orange;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px; 
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.list-group-item.card:hover .copy-btn {
    background-color: orangered; 
    transform: scale(1.05); 
} */











