body, html {
    height: 100%;
    margin: 0;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#searchContainer, .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    margin: 20px;;
}

.welcome-container {
    z-index: 1; 
}

#restaurantList {
    list-style-type: none;
    padding: 0;
}

#restaurantList li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.welcome-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-weight: 600;
}


#restaurantList {
    list-style-type: none;
    padding: 0;
}

#restaurantList li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#about {
    margin-top: 50px;
}
#contact {
    margin-top: 50px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
.modal-content {
    background-color: #ffffff; /* Kolor tła modalu */
    color: #495057; /* Kolor tekstu modalu */
}

.contact-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contact-column {
    text-align: center;
}

footer {
    background-color: #343a40; 
    color: #ffffff; 
    margin: 10px;
}
#about {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff; /* Kolor tła sekcji "About Us" */
    border: 1px solid #dee2e6; /* Obramowanie sekcji */
    border-radius: 10px;
}

#about h2 {
    color: #007bff; /* Kolor nagłówka sekcji "About Us" */
}

#about p {
    color: #495057; /* Kolor tekstu w sekcji "About Us" */
}
